* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
} 

header {
    background:linear-gradient(#add8e6,#ffffff);
    color:	#003366;
    display:flex; /* 文字全体を横一列に */
    font-weight:bold;
}

body {
    font-family: 'Segoe UI', sans-serif;
}



/* heaaderの鹿実の写真 */
.logo {
    width:200px;
    margin-top:20px;
    opacity: 1; /* 初期は透明度100% */
    transform: scale(1); /* 初期は拡大なし */
    transition: all 0.3s ease;
}


.header-logo a:hover .logo {
    opacity: 0.7; /* ホバー時に透明度70% */
    transform: scale(1.1); /* ホバー時に少し拡大 */
}

/*マルッチーの設定　*/
ul li img {
    vertical-align: middle;  /* 画像と文字の縦の揃え */
    height: 50px;             /* 高さを指定（必要に応じて） */
    vertical-align: 2px;
}


.header-logo {
    font-size:20px;
    padding:30px;
    text-align:center;
}

.header-list {
    margin-left:auto; /*listだけを右寄せに*/
}

ul {
    display:flex;
    flex-wrap: nowrap;
     
}

ul li {
    list-style:none;
    padding:33px 20px;;
    text-align:left;
    margin-top:15px;
}

ul li a {
    display:inline-block;
    color:inherit;
    text-decoration:none;
    transition: all 0.3s ease;
}

ul li a:hover {
    opacity:0.7;
    transform:scale(1.1);
    white-space: nowrap;
}












/* トップの写真 */
.mv {
    width:100%;
    height: 700px;
    position:relative;
    margin-top:50px;
}

.itme {
    position:absolute;
    top: 0;
    left: 0;
    width :100%;
    height:100%;
    animation:img-chenger 15s infinite;
    opacity: 0;
}
.itme:nth-child(1){
animation-delay:0s;
}

.itme:nth-child(2){
animation-delay:5s;
    
}

.itme:nth-child(3){
animation-delay:10s;
    
}

.itme img {
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 10px;
} 

@keyframes img-chenger {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


/* マルチメディアとは */
.marutitoha, .kajitsu-maruti {
margin:50px;
display:flex;
justify-content: center;
align-items:center;
}

.maruti-image, .kajitsu-image {
    position:relative;
    width:500px;
    height: 500px;
    overflow: hidden;
}

.maruti-image img , .kajitsu-image img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius:10px;
    object-fit: cover;
}

.maruti-setumei, .kajitsu-maruti-setumei {
    padding:20px;
    margin:20px;
    max-width:720px; /* 大きさ変更 */
   align-content:center;
    background-color:#f9f9f9;
     border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  display: flex;
flex-direction: column;
justify-content: center;


}

 

.maruti-setumei {
    height:350px;
     overflow-y: auto;
}

.maruti-setumei h3, .kajitsu-maruti-setumei h3 {
    font-size:2rem;
    text-align:center;
    border-bottom:2px solid #dee7ec;
     margin-bottom: 10px;
  padding-bottom: 10px;
  letter-spacing: 1px;
  font-family: "Segoe UI", sans-serif;
}



.kajitsu-maruti-setumei p {
    margin-bottom:20px;
}

.gakunen-wrapper,.next-year-wrapper {
    text-align: center;
}

/* ２年生ボタン */
.old-year {
  background-color: #f4c542;
box-shadow: 0 7px #b8870b;
color: #fff;

}

/* ３年生ボタン */
.next-year {
 background-color: #5dade2;
 box-shadow: 0 7px #1b4f72;
}

.old-year,.next-year {
  margin:25px;
  opacity: 0.8;
  color:#fff;
   text-decoration:none;
padding: 15px 40px;
  border-radius:10px;
  transition: all 0.3s ease;
  display: inline-block;
}

.old-year:hover,.next-year:hover {
    transform: scale(1.1);
    opacity:0.3;
}


/* 先生の説明 */
.sensei {
     border-bottom:2px solid #dee7ec;
     text-align:center;
     padding-bottom:10px;
     margin:10px;
}

.body {
   display:flex;
   align-items: center;
   justify-content: center;
   min-height: 70vh;
}

.slider-wrapper {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 50px 55px 50px;
}

.card-list .card-item {
    user-select: none;
    padding:35px;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:8px 15px 8px 15px;
    background-color:#f9f9f9;
    border-radius: 8px;
    backdrop-filter:  blur(30px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
    width: 370px !important; 
    /* width: calc(100vw - 40px / 3); */

  }

/* @media screen and (min-width:768px) and ( max-width:1024px) {
    .card-list .card-item {
      width: 370px !important;
    }       

}   */



.card-list .card-item .user-image {
    width: 180px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 40px;
    border: 3px solid #bbb;
    padding: 4px;
}

.card-list .card-item .user-profession {
    font-size:1.15rem;
    font-weight:  500;
    margin: 14px 0 40px;
}

.card-list .card-item .message-button {
    font-size: 1.25rem;
    padding: 10px 35px;
    color: #030728;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    background: #fff;
    border: 1px sloid transparent;
    transition: 0.2s ease;
}

.card-list .card-item .message-button:hover {
    transform: scale(1.1);
    opacity:0.3;
}


.popup-overlay {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#popup:checked ~ .popup-overlay {
  display: flex;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(255,255,255,0.8);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  color: #333;
}

.card-list .card-item:hover {
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}






/* ポップアップの中身 */
.overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  z-index: 9999; 
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 2rem 2rem 4rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  width: 1000px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  display: none; 
  z-index: 10000; 
}

.popup p {
  margin: 0;
  flex-grow: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup.active {
  display: flex; 
  opacity: 1;
  pointer-events: auto;
}


.overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  z-index: 9999;
}

.overlay.active {
  display: block;
}


.close-btn {
  font-size: 0; 
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}

.popup-img {
  max-width:95%;
  height:auto;
  border-radius:10px;
}




@media (max-height:600px) {
  .popup {
    height:550px;
    width:850px;
  }

  .popup-img {
    height:500px;
    width:auto;
  }
}


/* 閉じるボタン変更 */
.close-btn i {
  font-size: 3rem; 
  color: #333;
}





/* 資格・検定について */
.sikaku {
  margin:30px;
}

.sikaku h2 {
  border-bottom:2px solid #dee7ec;
     text-align:center;
     padding-bottom:10px;
     margin:10px;
}

.sikaku p {
  font-size:1.3rem;
}

.p-top {
  margin-left:100px;
  margin-bottom:10px;
}

.p-buttom {
  margin-left:110px;
}


/* 検定一覧 */
.exam-list {
  
  padding: 20px;
  background: #fffaf0; 
  border-radius: 8px;
  max-width: 1000px;
  width: 100%;           
  margin: 30px auto 0;   
  text-align: center;      
}

.exam-list li {
  margin: 8px 0;
  list-style: none;   /* 黒丸消す */
}

.exam-list li a {
  text-decoration: none; /* 下線消す */
  color: #005bac;
  font-weight: bold;
}

.exam-list li a:hover {
  text-decoration: underline; /* ホバーで下線出す */
}


/*
.exam-list li a:hover {
  background: #003f80;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
  */

.kennteiitirann h1 {
  text-align:center;
   border-bottom:2px solid #dee7ec;
   padding:10px;
   margin-left:50px;
   margin-right:50px;
}




/* 上に戻るボタン */
.pagetop {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 2;
  cursor: pointer;
}

.pagetop:hover{
   transform: scale(1.3);
   transition: all 0.3s ease;
}

.pagetop__arrow img {
  width: 50px;
  height: auto;
}

.pagetop__arrow {
  height: 30px;
  width: 30px;
}


.pagetop__tooltip {
  position: absolute;
  bottom: 60px;
  right: 50%;
  transform: translateX(50%);
  background-color: #ffecb3; 
  color: #d35400; 
  padding: 6px 12px;
  border-radius: 20px;
  font-family: 'Comic Sans MS', cursive, sans-serif; 
  font-weight: bold;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.pagetop:hover .pagetop__tooltip {
  opacity: 1;
  pointer-events: auto;
  
}

/*  */

.accordion {
      border-bottom: 1px solid #ccc;
    }
    .accordion button {
      width: 100%;
      text-align: left;
      background: none;
      border: none;
      font-size: 17px;
      font-weight: bold;
      cursor: pointer;
      outline: none;
      padding: 15px;
      color: #005bac;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
    .accordion button::after {
      content: "＋";
      font-size: 18px;
      transition: transform 0.3s;
    }
    .accordion button.active::after {
      content: "－";
    }
    .accordion-content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.4s ease;
      background: #fff;
      padding: 0 15px;
      border-radius: 0 0 8px 8px;
    }
    .accordion-content p {
      margin: 12px 0;
      font-size:17px;
    }

  /* 検定の四角でかこむやつ */

  .kakomuyo {
    background-color:#f9f9f9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius:15px;
    padding:20px;
    margin:20px auto;
    width:85%;
  }

  .sikaku-namae {
    font: size 25px !important;
    margin-bottom:9px;


    
  }

  .sikaku-kuwasiku {
    font-size:15px !important;;
    margin-left:8px;
  }

.wa-puro {
  width:700px;
  margin:10px;
}

@media (max-width:390px){
  .accordion button {
    flex-direction: column;
    align-items: flex-start;
  }

  .accordion button img.wa-puro {
    width:100%;
    margin-top:10px;
  }
}

.kousikisaito {
  font-size:15px;
}

.accordion-content span {
  text-decoration: underline;
  text-decoration-color: red;
}




/* footer */
footer {
  background-color:#00195e;
  color:#ffffff;
padding:100px  100px 0 100px;
font-size:12px;
}

.footer-list {
      display: flex;
      
}

.tkg a:hover {
  opacity:0.7;
  transform: scale(1.1);
}

.tkg h2 {
  border-bottom:2px solid #dee7ec;
  padding-bottom: 10px;
  margin-bottom:10px;
  font-size:15px;
}

.tkg a  {
  display: inline-block; 
  transition:all 0.5s ease;
  
}

.tkg {
  margin: 0 30px 30px 30px;
}

.footer_logo {
width:250px;
}

.kts {
  margin-left:auto;

}

.tkg a {
  color:#fff;
   text-decoration:none;
   display: block;
}

.tkg p {
  
  margin-left:21px;
}

.sita {
  margin-top:100px;
  padding-bottom:3px;
}



